backend/sample-files-for-test/bank_transfer.py
backend/sample-files-for-test/grade_management.py
backend/sample-files-for-test/hotel_booking.py
backend/sample-files-for-test/inventory_system.py
backend/sample-files-for-test/library_system.py
backend/sample-files-for-test/payroll_system.py
backend/sample-files-for-test/ride_service.py
backend/sample-files-for-test/shopping_cart.py
backend/sample-files-for-test/subscription_billing.py
backend/sample-test-suites/test_moderate.py
backend/sample-test-suites/test_strong.py
backend/sample-test-suites/test_weak.py
backend/uploads/205891db-1247-4a56-8a65-338d240286e5/calculator.py
backend/uploads/2467d6de-2348-4054-80b9-4f05bce6e87d/grade_management.py
backend/uploads/4d9ecb80-c1c5-4630-b47f-dc7f4fce2afe/calculator.py
backend/uploads/759f8cd3-272a-4631-a33d-be77ca62d8e5/calculator.py
backend/uploads/95a49cc2-20fb-4808-a483-91c6eb7bf7fc/library_system.py

backend/.env
backend/gen-lang-client-0292748360-00a190ed8ce4.json
backend/test_markdown_api.py
backend/test_api.py
backend/.vscode/settings.json
backend/reports/ead61f93-7967-4695-8615-fe3863422a1d/auction_system.py
backend/reports/.DS_Store
.DS_Store
backend/.coverage
backend/.DS_Store
backend/sample-files-for-test/auction_system.py
backend/sample-files-for-test/auth_service.py
backend/uploads/986a44c4-c0ee-4f75-8db7-67fffafcef57/auction_system.py
backend/uploads/b4d8aec9-418e-42de-a55a-8d7981be80dc/auction_system.py
backend/reports/ead61f93-7967-4695-8615-fe3863422a1d/test_auction_system.py
backend/reports/ead61f93-7967-4695-8615-fe3863422a1d/pyproject.toml
